<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>recipes</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle id="themeToggle" slot="end" (ionChange)="onToggleColorTheme($event)"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-header>

<ion-content>
  <ion-list>
    <app-recipe-item 
      *ngFor="let recipe of recipes" 
      [recipeItem]="recipe"
    ></app-recipe-item>
  </ion-list>
</ion-content>
