h2 {
  // font-size: 18px;
  // border: 1px solid var(--ion-color-primary);
  // padding: 8px;
  // border-radius: 5px;
  // color: --ion-color-primary;
  font-weight: 400;
  margin-bottom: 8px;
}

.space-left {
  margin-left: 5px;
}